

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.bgimg{
    background-image: url('/images/mowgarden-shop-ban-cay-canh (2).jpg');
    height: 650px;
    width: 100%;
    background-size: cover;   /* Căn chỉnh kích thước phù hợp */
    background-position: center; /* Căn giữa ảnh */
    background-repeat: no-repeat;
    position: relative;
}

.banner{
    max-width: 1200px;
    margin: 0 auto;
}

.banner_content{
    width: 575px;
    height: 250px;
    background-color: #ffffff86;
    padding: 20px 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-bottom: 40px;
}

.banner_content h1{
    font-size: 32px;
    color: #15351c;
}

.banner_content p{
    font-size: 24px;
    color: #15351c;
    line-height: 40px;
    margin: 10px 0;
}



.banner_btn {  
display: flex;
gap: 10px;
justify-content: center;
}

.btn_lienhe, .btn_khampha{
    width: 183px;
    height: 45px;
    line-height: 45px;
    border: 2px solid #224229;
    text-align: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.btn_lienhe a{
    text-decoration: none;
    font-size: 20px;
    color: #224229;
    font-weight: bold;
}

.btn_khampha{
    background-color: #15351c;
    border: 3px solid #15351c;
    font-weight: bold;
    font-size: 20px;
}

.btn_khampha a{
    color: white;
    text-decoration: none;
}

.btn_lienhe:hover {
    background-color: #15351c;
}

.btn_lienhe:hover a{
    color: white;
}

.btn_khampha:hover {
    background-color: #06280d;
}

.btn_khampha:hover a{
    color: white;
}